[submodule "esp_serial_v2_cpp"]
	path = esp_serial_v2_cpp
	url = https://github.com/hornet0018/esp_serial_v2_cpp.git
[submodule "rplidar_ros"]
	path = rplidar_ros
	url = https://github.com/hornet0018/rplidar_ros.git
	branch = ros2
[submodule "serial"]
	path = serial
	url = https://github.com/RoverRobotics-forks/serial-ros2
[submodule "rb300_webui"]
	path = rb300_webui
	url = https://github.com/hornet0018/rb300_webui.git
	branch = develop
[submodule "rb300_nav"]
	path = rb300_nav
	url = https://github.com/hornet0018/rb300_nav.git
	branch = develop
