[Unit]
Description=RB300 robot ROS2 system
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/opt/app/rb300/start.sh
Restart=on-failure
RestartSec=5
StandardOutput=journal

[Install]
WantedBy=multi-user.target
